footer {
    border-top: 1px solid black;
    padding: 15px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        font-size: 14px;
    }
}

.social-icons {
    display: flex;
    gap: 30px;

    img {
        max-width: 40px;
        max-height: 40px;
    }
}