/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, ::after, ::before {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: #58524B;
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
}

section {
  padding-bottom: 100px;
}

img {
  width: 100%;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
  margin-bottom: 5px;
}

p, li {
  color: #37332F;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
  background-color: #FDF9F3;
  padding-inline: 50px;
}

.hero {
  padding-inline: 0;
  display: flex;
}
.hero img {
  max-height: 500px;
  object-fit: cover;
}

.ingr-time {
  display: grid;
  grid-template-columns: 70% 30%;
}

footer {
  border-top: 1px solid black;
  padding: 15px;
}
footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #58524B;
}
footer p {
  font-size: 14px;
}

.social-icons {
  display: flex;
  gap: 30px;
}
.social-icons img {
  max-width: 32px;
  max-height: 32px;
}

.ingredients {
  background-color: #E1D4C2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;
  border-radius: 0 0 35px 35px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.column ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ingredients-title {
  grid-column: span 2;
}

.ingredients-subtitle {
  font-weight: 600;
  margin-bottom: 5px;
}

.time-container img {
  max-height: 36px;
}

.preparation {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.steps {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  counter-reset: steps;
}

.step {
  padding-left: 60px;
  position: relative;
}
.step::before {
  counter-increment: steps;
  content: "" counter(steps);
  font-size: 20px;
  font-weight: 600;
  color: #FDF9F3;
  border-radius: 6px;
  position: absolute;
  left: 0;
  background-color: #C8BCAC;
  padding: 15px;
}

/*# sourceMappingURL=styles.css.map */
